<%provide(:title,"Sign in")%>

<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
    	
			<div class="page-title" style="text-align: center;"><h1>Signin</h1>
				 <span>I'm excited to meet you</span></div>
			<div id="error"></div>
			<!-- side content -->
			<div id="signin-content">
			<!-- form -->
						
				<!--form id="new_user" action="/sessions" and each element has id user_* -->
				<%= form_for(:session, :url => sessions_path, :html=>{:id=>'new_user'}) do |f| %>
					<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
					<!--%= render 'shared/error_messages', object: f.object%-->
					<fieldset>
						<div>
							<%= f.label :email %><br>
					      	<%= f.text_field :email, :class => "form-poshytip", :title =>"Your registered email id please!" %>
					      	
						</div>
						<div>
							<%= f.label :password %><br>
					      	<%= f.password_field :password, :class => "form-poshytip", :title =>"Hope!you've remembered your password" %>
					      	
						</div>
			      			<p style="padding-left:80px;"><%= f.submit "Signin", :id =>"submit"%></p>
			      			<p>New User?&nbsp;<%= link_to "Signup Now!", signup_path%></p>
			      	</fieldset>
		    	<% end %>
				<!-- ENDS form -->
			</div>
			<!-- ENDS side content -->

			<div class="clear"></div>
    	
    	</div>
    	<!-- ENDS Page wrap -->
    	
    </div>
    <!-- ENDS content wrap -->
    
</div>
<!-- ENDS Wrapper -->
<script type="text/javascript" src="/assets/signin_form_validations.js"></script>

  