<%
if signed_in?
	redirect_to :back
end
%>
<%provide(:title,"Sign in")%>
	<div id="box">
		<h1>Login</h1>
		<div id="error" style="display:none;"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
		<div id="login">
		<!-- form -->
					
			<!--form id="new_session" action="/sessions" and each element has id user_* -->
			<%= form_for(:session, :url => sessions_path, :html=>{:id=>'session_user', :class=>'session_user'}) do |f| %>
				<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
				<!--%= render 'shared/error_messages', object: f.object%-->
				<fieldset id="inputs">
						<%= f.label :email %><br>
				      	<%= f.email_field :email,:placeholder=>"Email", :autofocus=>"required", :required=>"required"%>
				      	<br>
						<%= f.label :password %><br>
				      	<%= f.password_field :password,:placeholder=>"Password", :required=>"required"%>
				</fieldset>
				<fieldset id="actions">
					<%= f.submit "Signin", :id =>"submit"%>
			        <a href="forgot_password">Forgot your password?</a>  
			        <p style="padding:3px;font-weight: bold;">New User?<%= link_to "Signup", signup_path%></p>   
		      	</fieldset>
	    	<% end %>
		</div>
	</div>


  