<% provide(:title, "Change Password") %>
<%@user=User.find_by_temp_password(params[:key])%>
<div id="box">
	<h1>Change Your Password</h1>
		<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
	      <div id="login">
	      	<%= form_for(@user,:url =>forgotpassword_path , :html=>{:id=>'fp_details', :class=>'fp_details'}) do |f| %>
	      	<%= render 'shared/error_messages', object: f.object%>
	      	<div style="text-align: center;">
	      		<%= gravatar_for @user%><br>
	      		<a href="/signin" style="color: #3151A2;">Not <%=@user.username.titleize%>?</a>
	      	</div>
      		<br />
			<fieldset id="inputs">
			<%= f.label :password %><br>
	      	<%= f.password_field :password,:placeholder=>"New Password", :autofocus=>"required" %>
	      	<input type="hidden" name="user[id]" value="<%=@user.id%>">
	      	<%= f.label :password_confirmation, "Confirmation" %><br>
	      	<%= f.password_field :password_confirmation,:placeholder=>"Re-enter New Password", :autofocus=>"required" %>
		</fieldset>
		<fieldset id="actions">
			<%= f.submit "Update", :id =>"submit"%>
  		</fieldset>
    	<% end %>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	// hide messages 
	$("#error").hide();
	//$("#success").hide();
	var form = $(".fp_details");
	// on submit...
	form.submit(function() {
		$("#error").hide();
		var password = $("input#user_password").val();
		if(password == ""){
			$("#error").fadeIn().text("Password required");
			$("input#user_password").focus();
			return false;
		}
		//passowrd length validation
		if (password.length <6) {
			$("#error").fadeIn().text("Password should have minimum 6 characters");
			$("input#user_password").focus();
			return false;
		}
		// confirm password
		var c_password = $("input#user_password_confirmation").val();
		if(c_password == ""){
			$("#error").fadeIn().text("Re-enter Password");
			$("input#user_password_confirmation").focus();
			return false;
		}
		
		if (password != c_password) {
			$("#error").fadeIn().text("Mismatch password");
			$("input#user_password_confirmation").focus();
			return false;
		}
		});  
		return false;
});

</script>
