<%provide(:title,"Profile Edit")%>
	<div id="box">
		<h1>Edit Your Profile</h1>
		<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
		<div id="login">
			<!--form id="new_user" action="/users" and each element has id user_* -->
			<%= form_for(@user) do |f| %>
				<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
				<%= render 'shared/error_messages', object: f.object%>
				
				<div style="text-align: center;"><%= gravatar_for @user%>
				<a href="http://gravatar.com/emails" id="" style="color:#000;">change</a></div>
				<div></div>
				<br />
				<fieldset id="inputs">
				<%= f.label :username %><br>
		      	<%= f.text_field :username,:placeholder=>"Your Name", :autofocus=>"required"%>
		      	
				<%= f.label :email %><br>
		      	<%= f.text_field :email,:placeholder=>"Email", :autofocus=>"required"%>
		      	
				<%= f.label :password %><br>
		      	<%= f.password_field :password,:placeholder=>"Password", :autofocus=>"required" %>
		      	
		      	<%= f.label :password_confirmation, "Confirmation" %><br>
		      	<%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password", :autofocus=>"required" %>
			</fieldset>
			<fieldset id="actions">
				<%= f.submit "Update", :id =>"submit"%>
      		</fieldset>
	    	<% end %>
    	</div>
	</div>
