<script type="text/javascript" src="/assets/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/image_wall_js.js"></script>
<div id="inner-box" style="width:18%;">
	<p class="image_wall_heading">The Wall of Images</p>
	<p style="font-style:italic;">*Click any photo to Zoom it more...</p>
</div>
<div class="iw_wrapper" style="width: 100%;">
	<ul class="iw_thumbs" id="iw_thumbs">
		<%@allpics.each do |pic|%>
		<li><img src="<%=pic.url%>" data-img="<%=pic.url%>" alt="<%=pic.title%>"/><div><h2><%=pic.title%></h2><p>By&nbsp;<%=pic.username%></p><p><%=pic.name.titleize%></p><p><%if pic.city.present?%><%=pic.city.titleize%><%end%>
					,&nbsp;<%if pic.state.present?%><%=pic.state.titleize%><%end%>
					,&nbsp;<%if pic.country.present?%><%=pic.country.titleize%><%end%>
				</p></div></li>
		<%end%>
	</ul>
</div>
<div id="iw_ribbon" class="iw_ribbon">
	<span class="iw_close"></span>
	<span class="iw_zoom">Click thumb to zoom</span>
</div>
<style type="text/css">
	.iw_thumbs li img {
		height:150px;
	}
	.image_wall_heading {
		font-family: 'Wire One', arial, serif;
		font-size:32px;
		text-transform:uppercase;
		text-align:center;
		text-shadow:0px 0px 1px #fff;
		border-bottom: 1px solid #888888;
	}
</style>
