<%
if signed_in?
	redirect_to :back
end
%>
<%provide(:title,"Sign up")%>
	<div id="box">
		<h1>Signup</h1>
		<div id="signup_error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
		
		<div id="login">
		<!-- form -->
				<!--form id="new_user" action="/users" and each element has id user_* -->
			<%= form_for(@user) do |f| %>
				<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
				<%= render 'shared/error_messages', object: f.object%>
				
				<fieldset id="inputs">
					<%= f.label :username %><br>
			      	<%= f.text_field :username,:placeholder=>"Your Name"%>
			      	
					<%= f.label :email %><br>
			      	<%= f.text_field :email,:placeholder=>"Email"%>
			      	
					<%= f.label :password %><br>
			      	<%= f.password_field :password,:placeholder=>"Password"%>
			      	
			      	<%= f.label :password_confirmation, "Confirmation" %><br>
			      	<%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password"%>
				</fieldset>
				<fieldset id="actions">
					<%= f.submit "Signup", :id =>"submit"%>
	      		</fieldset>
	      		<fieldset id="actions">
	      			<p style="padding:5px;font-weight: bold;">Already A User?<%= link_to "Signin", signin_path%></p>
	      		</fieldset>
	      		
	    	<% end %>
    	</div>
	</div>
				