<% provide(:title, "Your Home") %>
<div id="box">
	<div id="error"></div>
	<% flash.each do |key, value| %>
        <div id="<%= key %>" style="display:block;"><%= value %></div>
      <% end %>
		<table style="border-collapse: collapse;">
			<tbody>
				<tr>
					<td style="width:30%">
						<table>
    						<tr>
    							<td>
    								<div>
    									<%= gravatar_for @user%>
    								</div>
    							</td>
							</tr>
						</table>
					</td>
					<td style="padding-left:10px;">
						<p style="font-size: 16px; font-weight: bold;">It's always a pleasure to see you</p>
						<p style="font-size: 16px; font-weight: bold;">Details:</p>
						<div style="padding-left: 30px;">
						<p>Name:<span style="padding-left:2px;font-size: 14px;font-weight: bold;"><%= @user.username %></span></p>
						<p>Total Zoomin Post:</p>
						</div>
						<p style="font-size: 16px; font-weight: bold;">Last Login:</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="height:40px;display:block;"></div>
		<%= form_tag(new_micropost_path, :method => "get", :onsubmit=>"return validatePost();") do %>
			<fieldset id="inputs">
				<label for="q" style="font-size: 18px;">Enter a location to create a post</label><br/>
				<input type="text" name="q" id="q" placeholder="Type the location address" autofocus="required">
			</fieldset>
			<fieldset id="actions" style="margin:1px">
				<%= submit_tag("Create", :id =>"submit")%>
			</fieldset>
    	<% end %>
    	<div style="height:20px;display:block;"></div>
    	<%= form_tag("#", :method => "get", :onsubmit=>"return validateSearchPost();") do %>
			<fieldset id="inputs">
				<label for="s" style="font-size: 18px;">Enter a city name to explore</label><br/>
				<input type="text" name="s" id="s" placeholder="Type a city name you want to explore" autofocus="required">
			</fieldset>
			<fieldset id="actions" style="margin:1px">
				<%= submit_tag("Explore", :id =>"submit")%>
			</fieldset>
    	<% end %>
			
</div>
<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			$("div.success").fadeOut("slow", function () {
				$("div.success").remove();
    		});
 
		}, 2000);
 	});
</script>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
		//city regex
		/*function isValidCity(city_name) {
    		var pattern = new RegExp(/^[a-zA-Z0-9-#]$/);
    		return pattern.test(city_name);
		};
		
		if(!isValidCity(city)) {
	    	alert("please enter a valid city name")
			$("input#q").focus();
			return false;
		}*/
	function validateSearchPost(){
		var city = $("#s").val();
		if(city == "" || city == null){
			alert("Please enter a city name to explore");
			$("input#s").focus();
			return false;
		}
	}	
</script>
