<style type="text/css">
.details_title
{
	padding-left:2px;
	font-size: 14px;
	font-weight: bold;
}

.details_heading
{
	font-size: 16px;
	font-weight: bold;
}
</style>
<% provide(:title, @user.username) %>
<div id="box" style="width:50%">
	<% flash.each do |key, value| %>
        <div id="<%= key %>" style="display:block;"><%= value %></div>
      <% end %>
		<table style="border-collapse: collapse;">
			<tbody>
				<tr>
					<td style="width:20%">
						<table>
    						<tr>
    							<td>
    								<div>
    									<img src="<%=own_pic_url(@user)%>" width="100px" height="100px" alt="<%=@user.username%>" title="<%=@user.username%>"/>
    								</div>
    							</td>
							</tr>
						</table>
					</td>
					<td style="padding-left:10px;">
						<%if current_user?(@user)%>
						<p class="details_heading">It's always a pleasure to see you</p>
						<%end%>
						<p class="details_heading">Details:</p>
						<div style="padding-left: 30px;">
						<p>Name: <span class="details_title"><%= @user.username.titleize %></span></p>
						<p>Total Zoomin Post:<span class="details_title">
							<%=Micropost.find_all_by_user_id(params[:id]).size%></span></p>
						<!--p>Total Zoomin Likes:<span class="details_title">
							<%=Vote.find_all_by_voter_id(params[:id]).size%></span></p-->
						<p>Total Zoomin Comments:<span class="details_title">
							<%=Comment.find_all_by_user_id(params[:id]).size%></span></p>
						<!-- Other way to do find total post of a user  User.find(params[:id]).microposts.size-->
						</div>
						<p class="details_heading">Last Login:
							<span style="font-size: 12px;">
								<!-- cookie stores string, but id is integer-->
							 <%if (@user.id.to_s == session[:userid])%>
							 	<%=cookies[:last_signin].to_date.localtime.strftime("%a, %B %d, %Y at %I:%M %p")%></span>&nbsp;
							 	( <%=time_ago_in_words(cookies[:last_signin].to_date.localtime)%> ago )
							 <%else%>
							 	<%dt=User.find(params[:id])%>
							 	<%if dt.signin_at.nil?%>
							 		<span>Newbie</span>
							 	<%else%>
							 	<span style="font-size: 12px;font-weight: bold;">
							 		<%=dt.signin_at.localtime.strftime("%a, %B %d, %Y at %I:%M %p")%>
							 	</span>
							 	&nbsp;
							 		( <%=time_ago_in_words(dt.signin_at.localtime)%> ago )
							 	<%end%>
							 <%end%>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<%if @auth == "yes" %>
		<!-- Restricting other users to create a post using one's wall.-->
			<div style="height:40px;display:block;"></div>
			<%= form_tag(new_micropost_path, :method => "get",:class=>"form-wp cf", :onsubmit=>"return validatePost();") do %>
					<input type="text" name="q" id="q" placeholder="Type the location address to create a post" required>
					<%= button_tag("Create")%>
	    	<% end %>
	    	<div style="height:20px;display:block;"></div>
	    	<form class="form-wp cf" action="/pages/result" method="get">
					<input type="text" name="s" id="s" placeholder="Type a city name you want to explore" required>
					<button type="submit">Search</button>
			</form>
    	<%end%>
			
</div>
<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			$("div.success").fadeOut("slow", function () {
				$("div.success").remove();
    		});
 
		}, 2000);
 	});
</script>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address to create a post"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
		//city regex
		/*function isValidCity(city_name) {
    		var pattern = new RegExp(/^[a-zA-Z0-9-#]$/);
    		return pattern.test(city_name);
		};
		
		if(!isValidCity(city)) {
	    	alert("please enter a valid city name")
			$("input#q").focus();
			return false;
		}*/
	function validateSearchPost(){
		var city = $("#s").val();
		if(city == "" || city == null || city == "Type a city name you want to explore"){
			alert("Please enter a city name to explore");
			$("input#s").focus();
			return false;
		}
	}	
</script>
