<% provide(:title, "Contact Us") %>
<div id="box">
	<h1>Contact Us</h1>
	<div id="error"></div>
	<% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
    <% end %>
	<div id="login">		
			<!-- form -->
			<%= form_for("", :method => "post",:id=>"formContent") do |f|%>
				<fieldset id="inputs">
					<%= f.label :username %><br>
			      	<%= f.text_field :username,:placeholder=>"Your name please"%>
			      	
			      	<%= f.label :email %><br>
			      	<%= f.text_field :email,:placeholder=>"Your email id please"%>
			      	
			      	<%= f.label :web %><br>
			      	<%= f.text_field :web,:placeholder=>"Your website url if any"%>
			      	
			      	<%= f.label :comment %><br>
			      	<%= f.text_area :comment,:placeholder=>"Any comment?"%>
			      	
			</fieldset>
			<fieldset id="actions">
				<%= f.submit "Submit", :id =>"submit"%>
			</fieldset>
    	<% end %>
	</div>
</div>  
