<% provide(:title, "Forgot Password") %>
<div id="box">
	<h1>Get Your Password Back</h1>
	<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
	      <% end %>
	<p style="font-size: 16px; font-weight: bold;">Nothing to Worry!!! Passwords are meant to be forgotten.</p>
	<p style="font-size: 16px; font-weight: bold;">Follow the steps and Login...</p>
	<br>
	<%= form_for(:forgotpassword,:url => forgotpasswords_path, :method => "post", :onsubmit=>"return validateFP();") do |f|%>
		<fieldset id="inputs">
			<%=f.label :email, :style=>"font-size: 18px;"%><br>
			<%= f.text_field :email,:placeholder=>"Type your email id"%>
		</fieldset>
		<fieldset id="actions" style="margin:1px">
			<%= f.submit("Submit", :id =>"submit")%>
		</fieldset>
	<% end %>
</div>
<script type="text/javascript">
	function validateFP(){
		var email = $("#forgotpassword_email").val();
		if(email == "" || email == null || email == "Type your email id"){
			alert("Please enter your email id");
			$("#forgotpassword_email").focus();
			return false;
		}
	}
</script>