<style type="text/css">
body {
	font-family: 'MisoRegular';
}
</style>
<div style="margin-left:25%;margin-bottom:10px;width:50%;">
	<% flash.each do |key, value| %>
		<div id="<%= key %>" style="margin: 0px;"><%= value %></div>
	<% end %>
</div>
<div class="sp-container">
	<div class="sp-full">
		 <h1><span style="color: #fff;font-size:35px;font-family:MisoRegular;">Share & Explore</span></h1>
		 <h2>Find out places @ your finger-tip</h2>
		<a href="#signup" id="home_button" class="fancybox">Sign up now!</a>
		<h4>Already a member? Signin</h4>
		<div id="box" style="padding:1% 2% 0% 3%;color: #000;margin-top:40px;line-height:1;margin-bottom:0px;margin-left:18%;width:50%;">
		<div id="error" style="margin: 5px;display:none;"></div>
		<%= form_for(:session, :url => sessions_path, :html=>{:id=>'session_user', :class=>'session_user'}) do |f| %>
			<fieldset id="inputs">
			      	<img src="/assets/email.png"/>&nbsp;<%= f.email_field :email,:placeholder=>"Email", :required=>"required", :style=>"padding-top:7px;padding-bottom:5px;"%>
			      	<br>
			      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password,:placeholder=>"Password", :required=>"required", :style=>"padding-top:7px;padding-bottom:5px;"%>
			</fieldset>
			<fieldset>
				<%= f.submit "Signin", :id=>"submit", :style=>"margin-left:8%"%>
				<a href="forgot_password" style="float:right;font-size: 20px;">Forgot password?</a>
	      	</fieldset>
    	<% end %>
		</div>
		<form class="form-wp cf" action="/pages/result" method="get" style="width:50%;margin-top:10px;margin-left: 18%;">
			<input type="text" name="s" id="s" placeholder="Search any city, place, state here..." required/>
			<button type="submit" style="width:19%;">Search</button>
		</form>
		<div class="home-caption">
		<div id="inner-box" style="text-align:left;">
  			<p><b>CityZoomin</b> is a free service to help you in sharing interesting things about your places easily.
	  		Our objective is to provide micro informations on a place which will make you fall in love with the city.
	  		We have made it simple and easy enough to discover the fun surrounding you. It is in <b>BETA</b> now.</p>
  		</div>
  		</div>
	</div>
</div>
<div id="signup" style="display:none;">
	<div class="fa-box">
		<div id="signup_error" style="display:none;"></div>	
		<!-- form -->
		<%@user = User.new%>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object%>
			<fieldset id="inputs">
		      	<img src="/assets/username.png"/>&nbsp;<%= f.text_field :username,:placeholder=>"Your Name", :required=>"required"%>
		      	<br>
		      	<img src="/assets/email.png"/>&nbsp;<%= f.email_field :email,:placeholder=>"Email", :required=>"required"%>
		      	<br>
		      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password,:placeholder=>"Password", :required=>"required"%>
		      	<br>
		      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password", :required=>"required"%>
			</fieldset>
			<fieldset id="actions" style="margin: 0px;">
				<%= f.submit "Signup", :id =>"submit", :style=>"margin-left:8%"%>
	  		</fieldset>
    	<% end %>
	</div>
</div>