<style type="text/css">
	.home-caption{
		margin-top:2%;
		color:#000;
		margin-bottom:2%;
	}
	.home-caption h2{
		font-size:20px;
		font-weight:bold;
	}
	.home-caption p
	{
		font-size:18px;
	}
</style>
<div style="align:center;margin:0 5%;">
	<table>
		<tr>
			<td style="padding-left:5%;">
				<form class="form-wp cf" action="/pages/result" method="get">
					<input type="text" name="s" id="s" placeholder="Search here..." required>
					<button type="submit">Search</button>
				</form>
				<div id="slideshow">
			        <ul>
			          <li>
			            <img src="/assets/bg1.gif" alt="Light" title="Light Trails" />
			          </li>
			          
			          <li>
			            <img src="/assets/bg3.jpg" alt="Kid" title="Sweet" />
			          </li>
			          
			          <li>           
			            <img src="/assets/bg10.gif" alt="Colours" title="Colours" />
			          </li>
			          
			          <li>           
			            <img src="/assets/bg12.jpg" alt="Whistle Podu" title="Whistle Podu" />
			          </li>
			          
			          <li>           
			            <img src="/assets/bg4.jpg" alt="cute" title="Cute" />
			          </li>	                         
			        </ul>
			      </div>
			      <script type="text/javascript" src="/assets/craftyslide.min.js"></script>
			      <script>
			        $("#slideshow").craftyslide();
			      </script>
			      <div class="home-caption">
			      	<h2>Welcome to CityZoomin</h2>
			      	<div id="inner-box" style="text-align:left;">
			      	<h4><b>CityZoomin</b> is a free service to help you in sharing interesting things about your places<br> easily.
			      	Our objective is to provide micro informations on a place which will make you fall in<br> love with the city.
			      	We have made it simple and easy enough to discover the fun in the city.</h4>
			      	</div>
			      </div>
			      <!--Facebook like plugin -->
			      <div class="fb-like" data-href="http://cityzoomin.herokuapp.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<div id="box" style="padding:3%;color: #000;margin-left:15%;margin-bottom:0px;">
								<div id="error" style="margin: 0px;"></div>
								<% flash.each do |key, value| %>
						        	<div id="<%= key %>" style="margin: 0px;"><%= value %></div>
						      	<% end %>
								<%= form_for(:session, :url => sessions_path, :html=>{:id=>'session_user', :class=>'session_user'}) do |f| %>
									<fieldset id="inputs">
									      	<%= f.text_field :email,:placeholder=>"Email"%>
									      	<%= f.password_field :password,:placeholder=>"Password"%>
									</fieldset>
									<fieldset id="actions" style="margin: 0px;">
										<%= f.submit "Signin", :id =>"submit"%>
										<a href="forgot_password" style="color:#fff;">Forgot your password?</a>
							      	</fieldset>
						    	<% end %>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding-top:2%;">
							<div id="box" style="padding:3%;color: #000;margin-left:15%;margin-bottom:0px;">
								<div id="signup_error" style="margin: 0px;"></div>
								<% flash.each do |key, value| %>
							        <div id="<%= key %>" style="margin: 0px;"><%= value %></div>
						      	<% end %>
								<%@user = User.new%>
								<%= form_for(@user) do |f| %>
									<%= render 'shared/error_messages', object: f.object%>
									<fieldset id="inputs">
								      	<%= f.text_field :username,:placeholder=>"Your Name"%>
								      	
								      	<%= f.text_field :email,:placeholder=>"Email"%>
								      	
								      	<%= f.password_field :password,:placeholder=>"Password"%>
								      	
								      	<%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password"%>
									</fieldset>
									<fieldset id="actions" style="margin: 0px;">
										<%= f.submit "Signup", :id =>"submit"%>
							  		</fieldset>
						    	<% end %>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
