<div id="content-wrap">
<!-- Page wrap -->
    	<div id="page-wrap">
			<div class="page-title"><h1>Welcome Home</h1> 
				<span>The safest place in the world</span>
			</div>
			<div class="featured-title">
						<div class="ribbon" ><span>Sign Up</span></div>
			</div>
			<!-- side content -->
			<!--div id="side-content">
				<h2>Welcome</h2>
				<br/>
				<br/>
			</div-->
				<div id="front-slides">
						<div class="slides_container">
							<div class="slide">
								<%=link_to image_tag("/assets/dummies/01.jpg", alt:"pic", width:"940", height:"360"), "http://www.luiszuno.com"%>
								<div class="caption">ABCD EFGH IJKL MNOP QRST</div>
							</div>
							<div class="slide">
								<%=link_to image_tag("/assets/dummies/02.jpg", alt:"pic", width:"940", height:"360"), "http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz"%>
								<div class="caption">ABCD EFGH IJKL MNOP QRST</div>
							</div>
							<div class="slide">
								<%=link_to image_tag("/assets/dummies/940x370.jpg", alt:"pic", width:"940", height:"360"), "http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz"%>
								<div class="caption">ABCD EFGH IJKL MNOP QRST</div>
							</div>
							
						</div>
						
						<div id="front-slides-cover"></div>
							
						<!-- Headline -->
						<div id="headline"><h6></h6></div>
						<!-- ENDS Headline -->	
					
					</div>
					<!-- ENDS Front slider -->
					
					
					<!-- Reel slider -->
	        		<div id="reel">
						<div class="slides_container">
							
							<div class="slide-box">
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/bargraph32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/boxupload32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/article32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
							</div>
							
							<div class="slide-box">
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/circleright32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/exchange32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/cup32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
							</div>
							
							<div class="slide-box">
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/folder32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/heart32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
								<div class="box-container">
									<%=image_tag("/assets/mono-icons/lightbulb32.png", alt:"pic", class:"box-icon")%>
									<h6>Pellentesque morbi</h6>
									<div class="box-divider"></div>
									Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
								</div>
							</div>
							
						</div>
						<a href="#" class="prev"></a>
						<a href="#" class="next"></a>
					</div>
					<!-- ENDS Reel slider -->
					
					
					
					<!-- Featured -->
					<div class="featured-title">
						<div class="ribbon" ><span>Sign Up</span></div>
					</div>
					<h2>Recent Posts</h2>
					<ul class="featured-posts">
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="#">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
						
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="#">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
						
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="#">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="#">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
						
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="single.html">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
						
						<li>
							<a href="single.html" class="thumb" title="An image"><img src="/assets/dummies/290x170.jpg" alt="Post" /></a>
							<div class="excerpt">
								<div class="heading"><a href="single.html">Pellentesque habitant morbi</a></div>Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
							</div>
						</li>
					</ul>
			<div class="clear"></div>
    	
    	</div>
    	<!-- ENDS Page wrap -->
    	
    </div>
    <!-- ENDS content wrap -->
    
</div>
<!-- ENDS Wrapper -->
				
