<style type="text/css">
	.home-caption{
		margin-top:4%;
		color:#000;
		margin-bottom:2%;
		width:90%;
	}
	.home-caption h2{
		font-size:20px;
		font-weight:bold;
	}
	.home-caption p
	{
		font-size:18px;
	}
</style>
<div style="margin-left:25%;margin-bottom:10px;width:50%;">
	<% flash.each do |key, value| %>
		<div id="<%= key %>" style="margin: 0px;"><%= value %></div>
	<% end %>
</div>
<div style="align:center;margin:0 5%;">
	<table style="width:100%;">
		<tr>
			<td style="width:60%;float:left;">
				<!-- Code for dynamic spehere-->
				<!--[if IE]>
				 <style>
		                    .circle{
		                        background:transparent url(assets/circleIE.gif) no-repeat top left;
		                    }
		                    .description ul a{
		                        font-weight:normal;
		                    }
				</style>
		        <![endif]-->
				<div class="wrapper">
	                <div id="images" class="images">
	                    <img id="image_create" src="/assets/first.gif" alt="" width="402" height="402" style="display:block;"/>
	                    <img id="image_share" src="/assets/second.gif" alt="" width="402" height="402"/>
	                    <img id="image_discover" src="/assets/third.gif" alt="" width="402" height="402" />
	                </div>
	                <div class="circleBig">
	                    <div id="menu" class="menu">
	                        <a id="create" class="create" href="">Create</a>
	                        <a id="share" class="share" href="">Share</a>
	                        <a id="discover" class="discover" href="">Discover</a>
	                    </div>
	                </div>
	            </div>
	            <div id="start"></div>
	            <div id="circle_start" class="circle">
	                <div class="description">
	                    <ul>
	                        <li><a href="#">Put cursor over</a></li>
	                        <li><a href="#">Text in big circle</a></li>
	                        <li><a href="#">To know more...</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div id="circle_create" class="circle">
	                <div class="description">
	                    <ul>
	                        <li><a href="#">1 simple step</a></li>
	                        <li><a href="#">Create Zoomin</a></li>
	                        <li><a href="#">Need 20 seconds</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div id="circle_share" class="circle">
	                <div class="description">
	                    <ul>
	                        <li><a href="#">1 click Share</a></li>
	                        <li><a href="#">In Social media</a></li>
	                        <li><a href="#">Need 20 seconds</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div id="circle_discover" class="circle">
	                <div class="description">
	                    <ul>
	                        <li><a href="#">Many places</a></li>
	                        <li><a href="#">Around you,</a></li>
	                        <li><a href="#">Get happiness...</a></li>
	                    </ul>
	                </div>
	            </div>
		        <div class="home-caption">
		      		<div id="inner-box" style="text-align:left;">
		      		<h4><b>CityZoomin</b> is a free service to help you in sharing interesting things about your places easily.
		      		Our objective is to provide micro informations on a place which will make you fall in love with the city.
		      		We have made it simple and easy enough to discover the fun surrounding you. It is very much in <b>BETA</b> now.</h4>
		      	</div>
		      </div>
			      <!--Facebook like plugin -->
			      <div class="fb-like" data-href="http://cityzoomin.herokuapp.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
			</td>
			<td style="float:left;width:40%">
				<form class="form-wp cf" action="/pages/result" method="get">
					<input type="text" name="s" id="s" placeholder="Search any city, place, state here..." required/>
					<button type="submit" style="width:19%;">Search</button>
				</form>
				<table style="width:90%;">
					<tr>
						<td>
							<div id="box" style="padding:3%;color: #000;margin-top:10px;margin-bottom:0px;width:100%;">
								<div id="error" style="margin: 5px;"></div>
								<%= form_for(:session, :url => sessions_path, :html=>{:id=>'session_user', :class=>'session_user'}) do |f| %>
									<fieldset id="inputs">
									      	<img src="/assets/email.png"/>&nbsp;<%= f.text_field :email,:placeholder=>"Email", :required=>"required", :class=>"em-pa"%>
									      	<br>
									      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password,:placeholder=>"Password", :required=>"required", :class=>"pa-em"%>
									</fieldset>
									<fieldset id="actions">
										<%= f.submit "Signin", :id =>"submit"%>
										<a href="forgot_password" style="color:#fff;">Forgot password?</a>
							      	</fieldset>
						    	<% end %>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding-top:2%;">
							<div id="box" style="padding:3%;color: #000;margin-top:5px;margin-bottom:0px;width:100%;">
								<div id="signup_error" style="margin: 5px;display:none;"></div>
								<%@user = User.new%>
								<%= form_for(@user) do |f| %>
									<%= render 'shared/error_messages', object: f.object%>
									<fieldset id="inputs">
								      	<img src="/assets/username.png"/>&nbsp;<%= f.text_field :username,:placeholder=>"Your Name", :required=>"required"%>
								      	<br>
								      	<img src="/assets/email.png"/>&nbsp;<%= f.text_field :email,:placeholder=>"Email", :required=>"required"%>
								      	<br>
								      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password,:placeholder=>"Password", :required=>"required"%>
								      	<br>
								      	<img src="/assets/password.png"/>&nbsp;<%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password", :required=>"required"%>
									</fieldset>
									<fieldset id="actions" style="margin: 0px;">
										<%= f.submit "Signup", :id =>"submit"%>
							  		</fieldset>
						    	<% end %>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript" src="/assets/jquery.path.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
                
    /* when page loads animate the create section by default */
    move($('#start'),2000,2);

    $('#menu > a').mouseover(
    function(){
        var $this = $(this);
        move($this,800,1);
    }
);

    /*
    function to animate / show one circle.
    speed is the time it takes to show the circle
    turns is the turns the circle gives around the big circle
     */
    function move($elem,speed,turns){
        var id = $elem.attr('id');
        var $circle = $('#circle_'+id);

        /* if hover the same one nothing happens */
        if($circle.css('opacity')==1)
            return;

        /* change the image */
        $('#image_'+id).stop(true,true).fadeIn(650).siblings().not(this).fadeOut(650);

        /*
        if there's a circle already, then let's remove it:
        either animate it in a circular movement or just fading out, depending on the current position of it
         */
        $('#container .circle').each(function(i){
            var $theCircle = $(this);
            if($theCircle.css('opacity')==1)
                $theCircle.stop()
            .animate({
                path : new $.path.arc({
                    center	: [320,300],
                    radius	: 271,
                    start	: 50,
                    end     : -150,
                    dir	: -1
                }),
                opacity: '0'
            },1500);
            else
                $theCircle.stop()
            .animate({opacity: '0'},200);
        });

        /* make the circle appear in a circular movement */
        var end = 60 - 360 * (turns-1);
        $circle.stop()
        .animate({
            path : new $.path.arc({
                center	: [320,300],
                radius	: 271,
                start	: 180,
                end		: end,
                dir		: -1
            }),
            opacity: '1'
        },speed);
    }
});
</script>
