<%if @allposts.empty?%>
<div id="inner-box"><p style="padding:20px;font-size:20px;text-align:center;">Sorry! You haven't created any zoomin yet. Please create one</p></div>
<%else%>
	<ul>
		<%@allposts.each do |post|%>
  			<li  id="micropost_<%=post.id%>">
  				<div id="inner-box">
	  				<table style="border-collapse: collapse;">
						<tbody>
							<tr>
								<td style="width:30px;vertical-align:top;">
									<img src="<%=profile_pic_url(post)%>" width="100px" height="100px" alt="<%=post.username%>" title="<%=post.username%>"/>
								</td>
								<td style="padding-left:10px;width:100%;">
									<div style="float:right;">
										<% if current_user?(post.user) || current_user.admin? %>
	    								<%= link_to image_tag('close.png'), post, method:  :delete,
	                                    	confirm: "Do you really want to delete it?",
	                                     	title:   "Delete",:remote=>true %>
	  									<% end %>
									</div>
									
									<p style="font-weight: bold;font-size:16px;"><a href="/microposts/<%=post.id%>"><%=post.title.titleize%></a></p>
									<p>By&nbsp;
										<span style="font-weight: bold;font-size:14px;">
											<a href="/users/<%=post.user_id%>" style="color:#C2C2C2;"><%=post.username.titleize%></a>
										</span>
										,&nbsp;
										<span style="font-weight: bold;font-size:14px;color:#C2C2C2;">
											<%= time_ago_in_words(post.created_at.localtime) %> ago
										</span>
										,&nbsp; for &nbsp;
										<a href="/locations/<%=post.location_id%>" style="font-size:14px;font-weight:bold;color:#C2C2C2;"><%=post.locname.titleize%></a>
									</p>
									<p style="border-bottom:1px solid #888888;margin-right:20%"></p>
									<p style="margin:10px 0px;;"><img src="/assets/content.png"/>&nbsp;<%=post.content%></p>
									
									<p><img src="/assets/address.png"/><span style="font-weight: bold;">&nbsp;Address: </span><%if post.city.present?%><a href="/locations/show?city=<%=post.city%>"><%=post.city.titleize%></a>,<%end%>
										&nbsp;<%if post.state.present?%><a href="/locations/show?state=<%=post.state%>"><%=post.state.titleize%></a>,<%end%>
										&nbsp;<%if post.country.present?%><a href="/locations/show?country=<%=post.country%>"><%=post.country.titleize%></a><%end%>
									</p>
									<br>
									<p><img src="/assets/tag.png"/><span style="font-weight: bold;">&nbsp;Tag: </span><%=@tags[post.id].join(',')%></p>
	 								
	 								<div class="photo_container" id="<%=post.id%>">
	 									<p>
			 								<%if post.has_photo?%>
			 									<%photo=post.photos%>
			 									<%photo_count=photo.count%>
			 									<div>Added  <span style="font-size:16px;color:#CCFF66;"><%=pluralize(photo_count, "picture")%></span>  in the album, Click to view</div>
			 										<a data-fancybox-group="button"  rel="gallery_<%=post.id%>" href="<%=photo[0].url%>" title="<%=post.title.capitalize%>" onclick="showPhotos(<%=post.id%>)">
														<img src="<%=photo[0].url%>" alt="<%=photo[0].url%>" />
													</a>
													<%if photo_count >1 %>
													<div style="display:none;" id="hidden_<%=post.id%>">
														<%$i=1%>
														<%while $i < photo_count%>
															<a  data-fancybox-group="button"  rel="gallery_<%=post.id%>" href="<%=photo[$i].url%>" title="<%=post.title.capitalize%>">
																<img src="<%=photo[$i].url%>" alt="<%=photo[$i].url%>" />
															</a>
															<%$i+=1%>
														<%end%>
													</div>
													<%end%>
		 									<%end%>
		 								</p>
	 								</div>
	 								<!--div class="fb-like" data-href="http://cityzoomin.herokuapp.com/microposts/<%=post.id%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div-->
	 								
	 								<!--Comment-->
	 								
	 								<%post_id = post.id%>
	 								<div id="comment_<%=post_id%>" class="comments">
										<%@allcomments=Comment.find_all_by_micropost_id(post_id)%>
										<%if @allcomments.nil?%>
										<%else%>
											<p style="padding:10px 0px;"><img src="/assets/comment.png"/>&nbsp;View <span style="font-size:20px;font-type:bold;"><%=@allcomments.size%></span> Comments:&nbsp;&nbsp;
												<a href="#micropost_<%=post_id%>" class="show_hide" style="color:#ADD6FF;">Show/hide</a>
											</p>
											<ul class="slidingDiv">
												<%@allcomments.each do |comment|%>
													<li id="comment_<%=comment.id%>">
		 												<%=render '/microposts/comment', :comment=>comment, :post=>post%>
	 												</li>
												<%end%>
											</ul>
										<%end%>
									</div>
									<div id="new_comment_<%=post_id%>" class="comments">
										<ul class="newslidingDiv">
											<!--New li comments will be added using ajax-->
										</ul>
									</div>
									
 									<div id="comment_box_<%=post_id%>" class="comment_box">
										<form style="width:80%;" action="/microposts/<%=post_id%>/comment_create" method="post" data-remote="true"/>
											<fieldset style="float:left;width:80%;line-height: 1.5;">
												<textarea name="micropost[description]" id="comment_text_<%=post_id%>" placeholder="Write a comment here..." style="width:100%;" rows="1"></textarea>
												<input type="hidden" name="micropost[micropost_id]" value="<%=post_id%>">
											</fieldset>
											<fieldset id="actions" style="float:right;width:14%;margin-top:0px;">
												<input type="submit" name="micropost[create]" value="Post" style="width:80%;color:#000;background-color:#66CCFF;border:0px;">
											</fieldset>
										</form>
									</div>
 									
 									<!--comment end-->
 									
	 								<div style="height: 15px;"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
		<%end%>
	</ul>
<%end%>
<%= will_paginate @allposts%>