<div id="error"></div>
	<% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
    <% end %>
	<%= link_to("Create/Search A Zoomin", current_user, :class=>"button add")%>
    <%= will_paginate @allposts%>
		<ul>
			<%@allposts.each do |post|%>
  			<li>
  				<div id="inner-box">
  				<table style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td style="width:30px">
								<table>
		    						<tr>
		    							<td>
		    								<div>
		    									<%= gravatar_for post%>
		    								</div>
		    							</td>
									</tr>
								</table>
							</td>
							<td style="padding-left:10px;width:100%;">
								<div style="float:right;">
									<% if current_user?(post.user) || current_user.admin? %>
    								<%= link_to image_tag('close.png'), post, method:  :delete,
                                    	confirm: "You sure?",
                                     	title:   "Delete" %>
  									<% end %>
								</div>
								<p style="font-weight: bold;"><a href="/microposts/<%=post.id%>"><%=post.title.titleize%></a></p>
								<p>By&nbsp;<span style="font-weight: bold;"><a href="/users/<%=post.user_id%>"><%=post.username.titleize%></a></span></p>
								<p><%=post.content%></p>
								<p><span style="font-weight: bold;">Location: </span><a href="/locations/<%=post.location_id%>"><%=post.locname.titleize%></a></p>
								<p><span style="font-weight: bold;">Address: </span><a href="/locations/show?city=<%=post.city%>"><%=post.city.titleize%></a>,
									&nbsp;<a href="/locations/show?state=<%=post.state%>"><%=post.state.titleize%></a>,
									&nbsp;<a href="/locations/show?country=<%=post.country%>"><%=post.country.titleize%></a>
								</p>
								<p><span style="font-weight: bold;">Tag: </span><%=post.category.titleize%></p>
								<span class="timestamp">
    								Posted <%= time_ago_in_words(post.created_at) %> ago.
 								</span>
 								<br>
 								<br>
 								<%total_pvote_count=post.votes_for%>
								<%net_pvote=total_pvote_count-1%>
 								<%if current_user.voted_for?(post)%>
 									<%=link_to image_tag('unlike.png',:alt=>"Unlike it", :title=>"Unlike it"), vote_down_micropost_path(post.id), :method=> :post %>
 									&nbsp;&nbsp;<%=image_tag('comment.png',:alt=>"comment", :title=>"comment")%>
 									<br>
 									<%if net_pvote == 0%>
 										You liked it, great!
 									<%else%>
 										You and <%=net_pvote%> others liked it, awesome! 
									<%end%>
 								<%else%>
									<%=link_to image_tag('like.png',:alt=>"Like it", :title=>"Like it"), vote_up_micropost_path(post.id), :method=> :post %>
									&nbsp;&nbsp;<%=image_tag('comment.png',:alt=>"comment", :title=>"comment")%>
									<br>
										<%if total_pvote_count>0%>
										<%=total_pvote_count%> other(s) liked it, great!
										<%end%>
 								<%end%>
 								<br />
 								
 								<div style="height: 15px;">
							</td>
						</tr>
					</tbody>
			</table>
		</div>
			</li>
			<%end%>
		</ul>
	<%= will_paginate @allposts%>