<h1 style="margin-bottom:10px;"><%=@post.first.title.titleize%></h1>
<div id="inner-box">
	<%@loc=Location.find_by_name(@post.first.locname)%>
	<%@json = @loc.to_gmaps4rails%>
	<%= gmaps4rails(@json) %>	
</div>
<ul>
  	<li id="micropost_<%=@post.first.id%>">
		<div id="inner-box">
			<table style="border-collapse: collapse;">
				<tbody>
					<tr>
						<td style="width:30px;vertical-align:top;">
							<%= gravatar_for @post.first%>
						</td>
						<td style="padding-left:10px;width:100%;">
							<div style="float:right;">
								<% if current_user?(@post.first.user) || current_user.admin? %>
								<%= link_to image_tag('close.png'), @post.first, method:  :delete,
                                	confirm: "Do you really want to delete it?",
                                 	title:   "Delete",:remote=>true %>
								<% end %>
							</div>
							<p style="font-weight: bold;"><a href="<%=@post.first.id%>"><%=@post.first.title.titleize%></a></p>
							<p>By&nbsp;<span style="font-weight: bold;"><a href="/users/<%=@post.first.user_id%>"><%=@post.first.username.titleize%></a></span></p>
							<p><%=@post.first.content%></p>
							<p><span style="font-weight: bold;">Location: </span><a href="/locations/<%=@post.first.location_id%>"><%=@post.first.locname.titleize%></a></p>
							<p><span style="font-weight: bold;">Address: </span><a href="/locations/show?city=<%=@post.first.city.titleize%>"><%=@post.first.city%></a>, 
								<a href="/locations/show?state=<%=@post.first.state%>"><%=@post.first.state.titleize%></a>, 
								<a href="/locations/show?country=<%=@post.first.country%>"><%=@post.first.country.titleize%></a></p>
							<p><span style="font-weight: bold;">Tag: </span><%=@post.first.category.titleize%></p>
							<span class="timestamp">
								Posted <%= time_ago_in_words(@post.first.created_at.localtime) %> ago.
							</span>
							<%post=@post.first%>
							<br><br>
							<div class="fb-like" data-href="http://cityzoomin.herokuapp.com/microposts/<%=post.id%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
							<!--Comment-->
	 								
							<%post_id = post.id%>
							<div id="comment_<%=post_id%>" class="comments">
								<%@allcomments=Comment.find_all_by_micropost_id(post_id)%>
								<%if @allcomments.nil?%>
								<%else%>
									<p style="padding:10px 0px;">View <span style="font-size:20px;font-type:bold;"><%=@allcomments.size%></span> Comments:&nbsp;&nbsp;
										<a href="#" class="show_hide" style="color:#ADD6FF;">Show/hide</a>
									</p>
									<ul class="slidingDiv">
										<%@allcomments.each do |comment|%>
											<li id="comment_<%=comment.id%>">
 												<%=render '/microposts/comment', :comment=>comment, :post=>post%>
											</li>
										<%end%>
									</ul>
								<%end%>
							</div>
							
							<div id="new_comment_<%=post_id%>" class="comments">
								<ul class="newslidingDiv">
									<!--New li comments will be added using ajax-->
								</ul>
							</div>
							
							<div id="comment_box_<%=post_id%>" class="comment_box">
								<form style="width:80%;" action="/microposts/<%=post_id%>/comment_create" method="post" data-remote="true"/>
									<fieldset style="float:left;width:80%;line-height: 1.5;">
										<textarea name="micropost[description]" id="comment_text_<%=post_id%>" placeholder="Write a comment here..." style="width:100%;" rows="1"></textarea>
										<input type="hidden" name="micropost[micropost_id]" value="<%=post_id%>">
									</fieldset>
									<fieldset id="actions" style="float:right;width:14%;margin-top:0px;">
										<input type="submit" name="micropost[create]" value="Post" style="width:80%;color:#000;background-color:#66CCFF;border:0px;">
									</fieldset>
								</form>
							</div>
 							<!--%@json = @post.first.to_gmaps4rails%-->
							<!--comment end-->
							<div style="height: 15px;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</li>
</ul>
