<% provide(:title, "Share Your Experience") %>
<div id="box">
		<h1>Share Your Experience</h1>
		<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
        <% end %>
		<div id="login">	
		<!--form id="new_micropost" action="/micropost" and each element has id micropost_* -->
			<%= form_for(@micropost) do |f| %>
				<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
				<%= render 'shared/error_messages', object: f.object%>
				<fieldset id="inputs">
						<p>City:<span style="font-size:18px;font-weight: bold;padding-left: 20px;"><%=@city%></span></p>
						<input type="hidden" name="micropost[city]" value="<%=@city%>">
						<%= f.label :location %><br>
				      	<%= f.text_field :location,:placeholder=>"Type particular location"%>
				      	
						<%= f.label :title %><br>
				      	<%= f.text_field :title,:placeholder=>"Give a title to your post"%>
				      	
						<%= f.label :content %><br>
				      	<%= f.text_field :content,:placeholder=>"Put some word to your memory"%>
				      	
						<%= f.label :category %><br>
				      	<%= f.text_field :category,:placeholder=>"Tag your post"%>
				 </fieldset>
				 <fieldset id="actions">     	
		      			<%= f.submit "Create", :id =>"submit"%>
		      	</fieldset>
	    	<% end %>
		</div>
</div>
