<% provide(:title, "Share Your Experience") %>
<div id="box">
		<h1>Share Your Experience</h1>
		<div id="error"></div>
		<% flash.each do |key, value| %>
	        <div id="<%= key %>"><%= value %></div>
        <% end %>
    	<%
    	@location = TempLocation.new(:address=>@loc_name)
        if @location.save
      	  	@loc_id=@location.id
        	@temp_location = TempLocation.find(@loc_id)
        	
    	%>
    
        	<%@json = @temp_location.to_gmaps4rails%>
        	<%= gmaps4rails(@json) %>
    	<%else%>
        	<div id="notice" style="margin:20px">Sorry, Couldn't show you the location. Try again giving city/state name in location<br />
        		Ex : Mantri Mall, Bangalore
        	</div>
    	<%end%>
		<div id="login">	
		<!--form id="new_micropost" action="/micropost" and each element has id micropost_* -->
			<%= form_for @micropost, :html=>{:multipart => true} do |f| %>
				<!-- if javascript is disabled in a browser, we should provide server side validation. Check giving already registered email id-->
				<%= render 'shared/error_messages', object: f.object%>
				<fieldset id="inputs">
					<%= fields_for(:location) do |i| %>
						<p>Location:<span style="font-size:18px;font-weight: bold;padding-left: 20px;"><%=@loc_name%></span></p>
						<input type="hidden" name="location[name]" value="<%=@loc_name%>">
						<!-- pending @temp_city, @temp_state, @temp_country-->
						<%= i.label :city %><br>
				      	<%= i.text_field :city,:placeholder=>"Which city does it belong?"%>
				      	
				      	<%= i.label :state %><br>
				      	<%= i.text_field :state,:placeholder=>"Which state does it belong?"%>
				      	
				      	<%= i.label :country %><br>
				      	<%= i.text_field :country,:placeholder=>"Which country does it belong?"%>
				    <%end%>
				      	
						<%= f.label :title %><br>
				      	<%= f.text_field :title,:placeholder=>"Give a title to your post"%>
				      	
						<%= f.label :content %><br>
				      	<%= f.text_field :content,:placeholder=>"Put some word to your memory"%>
				      	
						<%= f.label :category %><br>
				      	<%= f.text_field :category,:placeholder=>"Tag your post"%>
				 </fieldset>
				 <fieldset id="actions">     	
		      			<%= f.submit "Create", :id =>"submit"%>
		      	</fieldset>
	    	<% end %>
		</div>
</div>
