<%if @post %>
<% provide(:title, @post.first.title) %>
<div id="box">
	<% flash.each do |key, value| %>
        <div id="<%= key %>" style="display:block;"><%= value %></div>
  	<% end %>
    <%=render 'instant_create'%>
    <div style="margin:4% 0;height:3px;"></div>
	<%= render 'onepost.html.erb' %>
</div>
<%elsif @allposts%>
	<% provide(:title, "Your Post") %>
<div id="box">
	<h1 style="margin-bottom:10px;">Zoomins By You Only</h1>
	<%=render 'instant_create'%>
	<%= render 'multipleposts.html.erb' %>
</div>
<%end%>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
</script>
