<%if @post %>
<% provide(:title, @post.first.title) %>
<div id="box">
	<% flash.each do |key, value| %>
        <div id="<%= key %>" style="display:block;"><%= value %></div>
      <% end %>
      <%= link_to("Create/Search A Zoomin", current_user, :class=>"button add")%>
      <%= render 'onepost.html.erb' %>
</div>
<%elsif @allposts%>
	<% provide(:title, "Your Post") %>
<div id="box">
	<h1>Zoomins By You Only</h1>
	<%= render 'multipleposts.html.erb' %>
</div>
<%end%>
