<% provide(:title, @locname) %>
<div id="box">
	<h1 style="margin-bottom:10px;">All Zoomins for&nbsp;&quot;<%=@locname%>&quot;</h1>
	<% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
    <% end %>
	<%=render '/microposts/instant_create'%>
	<div style="margin:4% 0;height:3px;"></div>
		<ul>
			<%@allposts.each do |post|%>
  			<li  id="micropost_<%=post.id%>">
  				<div id="inner-box">
  				<table style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td style="width:30px;vertical-align:top;">
								<table>
		    						<tr>
		    							<td>
		    								<div>
		    									<%= gravatar_for post%>
		    								</div>
		    							</td>
									</tr>
								</table>
							</td>
							<td style="padding-left:10px;width:100%;">
								<div style="float:right;">
									<% if current_user?(post.user) || current_user.admin?%>
    								<%= link_to image_tag('close.png'), post, method:  :delete,
                                    	confirm: "Do you really want to delete it?",
                                     	title:   "Delete",:remote=>true %>
  									<% end %>
								</div>
								
								<p style="font-weight: bold;"><a href="/microposts/<%=post.id%>"><%=post.title.titleize%></a></p>
								<p>By&nbsp;<span style="font-weight: bold;"><a href="/users/<%=post.user_id%>"><%=post.username.titleize%></a></span></p>
								<p><%=post.content%></p>
								<p><span style="font-weight: bold;">Location: </span><a href="<%=post.location_id%>"><%=post.locname.titleize%></a></p>
								<p><span style="font-weight: bold;">Address: </span><a href="show?city=<%=post.city%>"><%=post.city.titleize%></a>, 
									<a href="show?state=<%=post.state%>"><%=post.state.titleize%></a>, 
									<a href="show?country=<%=post.country%>"><%=post.country.titleize%></a></p>
								<p><span style="font-weight: bold;">Tag: </span><%=post.category.titleize%></p>
								<span class="timestamp">
    								Posted <%= time_ago_in_words(post.created_at.localtime) %> ago.
 								</span>
 								<br>
 								<br>
 								<%total_pvote_count=post.votes_for%>
								<%net_pvote=total_pvote_count-1%>
 								<%if current_user.voted_for?(post)%>
 									<%=link_to image_tag('unlike.png',:alt=>"Unlike it", :title=>"Unlike it"), vote_down_micropost_path(post.id), :method=> :post %>
 									<br>
 									<%if net_pvote == 0%>
 										You liked it, great!
 									<%else%>
 										You and <%=net_pvote%> others liked it, awesome! 
									<%end%>
 								<%else%>
									<%=link_to image_tag('like.png',:alt=>"Like it", :title=>"Like it"), vote_up_micropost_path(post.id), :method=> :post %>
									<br>
										<%if total_pvote_count>0%>
										<%=total_pvote_count%> other(s) liked it, great!
										<%end%>
 								<%end%>
 								<br />
 								<!--Comment-->
	 								
 								<%post_id = post.id%>
 								<div id="comment_<%=post_id%>" class="comments">
									<%@allcomments=Comment.find_all_by_micropost_id(post_id)%>
									<%if @allcomments.nil?%>
									<%else%>
										<p style="padding:10px 0px;"><span style="font-size:20px;font-type:bold;"><%=@allcomments.size%></span> Comments:&nbsp;&nbsp;
											<a href="#" class="show_hide" style="color:#ADD6FF;">Show/hide</a>
										</p>
										<ul class="slidingDiv">
											<%@allcomments.each do |comment|%>
												<li id="comment_<%=comment.id%>">
	 												<%=render '/microposts/comment', :comment=>comment, :post=>post%>
 												</li>
											<%end%>
										</ul>
									<%end%>
								</div>
								
								<div id="comment_box_<%=post_id%>" class="comment_box">
									<form style="width:80%;" action="/microposts/<%=post_id%>/comment_create" method="post" data-remote="true" onsubmit="return validateComment();"/>
										<fieldset style="float:left;width:80%;line-height: 1.5;">
											<textarea name="micropost[description]" id="comment" placeholder="Write a comment here..." style="width:100%;" rows="1"></textarea>
											<input type="hidden" name="micropost[micropost_id]" value="<%=post_id%>">
										</fieldset>
										<fieldset id="actions" style="float:right;width:14%;margin-top:0px;">
											<input type="submit" name="micropost[create]" value="Post" style="width:80%;color:#000;background-color:#66CCFF;border:0px;">
										</fieldset>
									</form>
								</div>
 									
								<!--comment end-->
 								<div style="height: 15px;">
							</td>
						</tr>
					</tbody>
		</table>
		</div>
			</li>
			<%end%>
		</ul>
	<%= will_paginate @allposts%>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
	function validateComment(){
		var comment = $("#comment").val();
		if(comment == "" || comment == null || comment == "Write a comment here"){
			alert("Please write a comment");
			$("#comment").focus();
			return false;
		}
	}
</script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>