<% provide(:title, @locname) %>
<div id="box">
	<h1>All Zoomins for&nbsp;&quot;<%=@locname%>&quot;</h1>
	<div id="error"></div>
	<% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
    <% end %>
	<%= link_to("Create/Search A Zoomin", current_user, :class=>"button add")%>
    <%= will_paginate @allposts%>
		<ul>
			<%@allposts.each do |post|%>
  			<li>
  				<div id="box" style="background-color: #FF99FF;
  					 width:100%;margin:0px 0px 20px -35px;padding-top:10px;padding-bottom:05px;">
  				<table style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td style="width:30px">
								<table>
		    						<tr>
		    							<td>
		    								<div>
		    									<%= gravatar_for post%>
		    								</div>
		    							</td>
									</tr>
								</table>
							</td>
							<td style="padding-left:10px;width:100%;">
								<div style="float:right;">
									<% if current_user?(post.user) %>
    								<%= link_to image_tag('close.png'), post, method:  :delete,
                                    	confirm: "You sure?",
                                     	title:   "Delete" %>
  									<% end %>
								</div>
								
								<p style="font-weight: bold;"><a href="/microposts/<%=post.id%>"><%=post.title.titleize%></a></p>
								<p>By&nbsp;<span style="font-weight: bold;"><a href="/users/<%=post.user_id%>"><%=post.username.titleize%></a></span></p>
								<p><%=post.content%></p>
								<p><span style="font-weight: bold;">Location: </span><a href="<%=post.location_id%>"><%=post.locname.titleize%></a></p>
								<p><span style="font-weight: bold;">Address: </span><a href="show?city=<%=post.city%>"><%=post.city.titleize%></a>, 
									<a href="show?state=<%=post.state%>"><%=post.state.titleize%></a>, 
									<a href="show?country=<%=post.country%>"><%=post.country.titleize%></a></p>
								<p><span style="font-weight: bold;">Tag: </span><%=post.category.titleize%></p>
								<span class="timestamp">
    								Posted <%= time_ago_in_words(post.created_at) %> ago.
 								</span>
 								<div style="height: 15px;">
							</td>
						</tr>
					</tbody>
		</table>
		</div>
			</li>
			<%end%>
		</ul>
	<%= will_paginate @allposts%>