<% provide(:title, @locname) %>
<div id="inner-box" style="width:50%;margin-right:7px;float:right;background: rgba(41, 38, 34, 0.28);">
	<h1 style="margin-bottom:10px;">All Zoomins for&nbsp;&quot;<%=@locname%>&quot;</h1>
	<% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
    <% end %>
    <%if signed_in? %>
		<%=render '/microposts/instant_create'%>
	<%else%>
		<form class="form-wp cf" action="/pages/result" method="get">
			<input type="text" name="s" id="s" placeholder="Search here..." required>
			<button type="submit">Search</button>
		</form>
	<%end%>
	<br>
	<div id="inner-box">
	Share this result with 1 click :&nbsp;&nbsp;
		<div class="fb-like" data-href="http://cityzoomin.herokuapp.com/<%=request.fullpath%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</div>
		<ul>
			<%@allposts.each do |post|%>
  			<li  id="micropost_<%=post.id%>">
  				<div id="inner-box">
  				<table style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td style="width:30px;vertical-align:top;">
								<table>
		    						<tr>
		    							<td>
		    								<div>
		    									<%= gravatar_for post%>
		    								</div>
		    							</td>
									</tr>
								</table>
							</td>
							<td style="padding-left:10px;width:100%;">
								<%if signed_in?%>
								<div style="float:right;">
									<% if current_user?(post.user) || current_user.admin?%>
    								<%= link_to image_tag('close.png'), post, method:  :delete,
                                    	confirm: "Do you really want to delete it?",
                                     	title:   "Delete",:remote=>true %>
  									<% end %>
								</div>
								<%end%>
								<p style="font-weight: bold;font-size:16px;"><a href="/microposts/<%=post.id%>"><%=post.title.titleize%></a></p>
								<p>By&nbsp;
									<span style="font-weight: bold;font-size:14px;">
										<a href="/users/<%=post.user_id%>" style="color:#C2C2C2;"><%=post.username.titleize%></a>
									</span>
									,&nbsp;
									<span style="font-weight: bold;font-size:14px;color:#C2C2C2;">
										<%= time_ago_in_words(post.created_at.localtime) %> ago
									</span>
									,&nbsp; for &nbsp;
									<a href="/locations/<%=post.location_id%>" style="font-size:14px;font-weight:bold;color:#C2C2C2;"><%=post.name.titleize%></a>
								</p>
								<p style="border-bottom:1px solid #888888;margin-right:20%"></p>
								<p style="margin:10px 0px;;"><%=post.content%></p>
								
								<p><span style="font-weight: bold;">Address: </span><%if post.city.present?%><a href="/locations/show?city=<%=post.city%>"><%=post.city.titleize%></a>,<%end%>
									&nbsp;<%if post.state.present?%><a href="/locations/show?state=<%=post.state%>"><%=post.state.titleize%></a>,<%end%>
									&nbsp;<%if post.country.present?%><a href="/locations/show?country=<%=post.country%>"><%=post.country.titleize%></a><%end%>
								</p>
 								<br>
 								<div class="photo_container" id="<%=post.id%>">
 									<p>
		 								<%if post.has_photo?%>
		 									<%photo=post.photos%>
		 									<%photo_count=photo.count%>
		 									<div>Added  <span style="font-size:16px;color:#CCFF66;"><%=pluralize(photo_count, "picture")%></span>  in the album, Click to view</div>
		 										<a data-fancybox-group="button"  rel="gallery_<%=post.id%>" href="<%=photo[0].url%>" title="<%=post.title.capitalize%>" onclick="showPhotos(<%=post.id%>)">
													<img src="<%=photo[0].url%>" alt="<%=photo[0].url%>" />
												</a>
												<%if photo_count >1 %>
												<div style="display:none;" id="hidden_<%=post.id%>">
													<%$i=1%>
													<%while $i < photo_count%>
														<a  data-fancybox-group="button"  rel="gallery_<%=post.id%>" href="<%=photo[$i].url%>" title="<%=post.title.capitalize%>">
															<img src="<%=photo[$i].url%>" alt="<%=photo[$i].url%>" />
														</a>
														<%$i+=1%>
													<%end%>
												</div>
												<%end%>
	 									<%end%>
	 								</p>
 								</div>
							<div class="fb-like" data-href="http://cityzoomin.herokuapp.com/microposts/<%=post.id%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
 								<!--Comment-->
	 								
 								<%post_id = post.id%>
 								<div id="comment_<%=post_id%>" class="comments">
									<%@allcomments=Comment.find_all_by_micropost_id(post_id)%>
									<%if @allcomments.nil?%>
									<%else%>
										<p style="padding:10px 0px;">View <span style="font-size:20px;font-type:bold;"><%=@allcomments.size%></span> Comments:&nbsp;&nbsp;
											<a href="#comment_<%=post_id%>" class="show_hide" style="color:#ADD6FF;">Show/hide</a>
										</p>
										<ul class="slidingDiv">
											<%@allcomments.each do |comment|%>
												<li id="comment_<%=comment.id%>">
													<%if signed_in?%>
	 													<%=render '/microposts/comment', :comment=>comment, :post=>post%>
	 												<%else%>
		 												<p class="title">
															<%= gravatar_for_comment comment%>
															<a href="/users/<%=comment.user_id%>" class="username"><%=comment.username.titleize%></a>
															<span class="comment_on">On <%=comment.created_at.localtime.strftime("%a, %B %d, %Y at %I:%M %p")%></span>
														</p>
														<p class="content">
														<%=comment.description.capitalize%>
														</p>
														<hr>
													<%end%>
 												</li>
											<%end%>
										</ul>
									<%end%>
								</div>
								<% if signed_in? %>
									<div id="new_comment_<%=post_id%>" class="comments">
										<ul class="newslidingDiv">
											<!--New li comments will be added using ajax-->
										</ul>
									</div>
									
									<div id="comment_box_<%=post_id%>" class="comment_box">
										<form style="width:80%;" action="/microposts/<%=post_id%>/comment_create" method="post" data-remote="true" onsubmit="return validateComment();"/>
											<fieldset style="float:left;width:80%;line-height: 1.5;">
												<textarea name="micropost[description]" id="comment_text_<%=post_id%>" placeholder="Write a comment here..." style="width:100%;" rows="1"></textarea>
												<input type="hidden" name="micropost[micropost_id]" value="<%=post_id%>">
											</fieldset>
											<fieldset id="actions" style="float:right;width:14%;margin-top:0px;">
												<input type="submit" name="micropost[create]" value="Post" style="width:80%;color:#000;background-color:#66CCFF;border:0px;">
											</fieldset>
										</form>
									</div>
 								<%end%>	
								<!--comment end-->
 								<div style="height: 15px;"></div>
							</td>
						</tr>
					</tbody>
			</table>
		</div>
			</li>
			<%end%>
		</ul>
	<%= will_paginate @allposts%>
</div>
<div id="inner-box" style="float:left;margin-left:2%;width:40%;position:fixed;background: rgba(41, 38, 34, 0.28);">
	<h1 style="margin-bottom:10px;">Map Zoomin</h1>
	<%if (params[:city])%>
		<%@loc=Location.find_all_by_city(params[:city])%>
	<%elsif (params[:state])%>
		<%@loc=Location.find_all_by_state(params[:state])%>
	<%elsif (params[:country])%>
		<%@loc=Location.find_all_by_country(params[:country])%>
	<%elsif(params[:id] != 'show')%>
		<%@loc=Location.find(params[:id])%>
	<%end%>
	<%@json = @loc.to_gmaps4rails%>
	<%= gmaps4rails(@json) %>
	
</div>
<script type="text/javascript">
	function validatePost(){
		var city = $("#q").val();
		if(city == "" || city == null || city == "Type the location address"){
			alert("Please enter a city name");
			$("input#q").focus();
			return false;
		}
	}
</script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>