<div class="footer">
	<a class="left" href="#">&copy;2012&nbsp;An Adict Product</a>
	<a class="left" href="/home">Home</a>
	<a class='left fancybox' href="#feedback">Feedback</a>
	<a class='left fancybox' href="#contact">Contact</a>
</div>
<div id="contact" style="display:none;">
	<div class="fa-box">
		<h1>Contact Us</h1>	
		<div id="contact_error" style="display:none;"></div>	
			<!-- form -->
			<%= form_for(:page, :url=>"/pages/sendContact", :method => "post",:html=>{:id=>"contact"}) do |f|%>
				<fieldset id="inputs">
			      	<img src="/assets/username.png"/>&nbsp;<%= f.text_field :username,:placeholder=>"Your name please", :required=>"required"%>
			      	
			      	<img src="/assets/email.png"/>&nbsp;<%= f.email_field :email,:placeholder=>"Your email id please", :required=>"required"%>
			      	
			      	<img src="/assets/text.png"/>&nbsp;<%= f.text_area :description,:placeholder=>"Description", :rows=>"5", :required=>"required"%>
			</fieldset>
			<fieldset id="actions">
				<%= f.submit "Submit", :id =>"submit", :style=>"margin-left:8%;"%>
				<%= f.submit "Reset", :id =>"submit", :type=>"reset", :style=>"margin-left:2%;"%>
			</fieldset>
		<% end %>
	</div>
</div>
<div id="feedback" style="display:none;">
	<div class="fa-box">
		<h1>Give your Feedback</h1>	
		<div id="feedback_error" style="display:none;"></div>	
			<!-- form -->
			<%= form_for(:page, :url=>"/pages/sendFeedback", :method => "post",:html=>{:id=>"feedback"}) do |f|%>
				<fieldset id="inputs">
			      	<img src="/assets/username.png"/>&nbsp;<%= f.text_field :username,:placeholder=>"Your name please", :required=>"required"%>
			      	
			      	<img src="/assets/email.png"/>&nbsp;<%= f.email_field :email,:placeholder=>"Your email id please", :required=>"required"%>
			      	<p><img src="/assets/feedback.png"/>&nbsp;Feedback type:&nbsp;(Optional)&nbsp;
			      	<select name="page[feedback_type]">
			      		<option value="None">None</option>
			      		<option value="Idea">Idea</option>
			      		<option value="Question">Question</option>
			      		<option value="Problem">Problem</option>
			      		<option value="Praise">praise</option>
			      	</select>
			      	</p>
			      	<br>
			      	<img src="/assets/text.png"/>&nbsp;<%= f.text_area :description,:placeholder=>"Description", :rows=>"5", :required=>"required"%>
			</fieldset>
			<fieldset id="actions">
				<%= f.submit "Submit", :id =>"submit", :style=>"margin-left:8%;"%>
				<%= f.submit "Reset", :id =>"submit", :type=>"reset", :style=>"margin-left:2%;"%>
			</fieldset>
		<% end %>
	</div>
</div>

<!--JS-->
<script type="text/javascript" src="/assets/jquery.fancybox.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="/assets/view_photos.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	$(".fancybox").fancybox({
		fitToView	: false,
		width		: '30%',
		height		: 'auto',
		autoSize	: false,
		closeClick	: false,
	});
});
</script>
<%= yield :scripts %>
