<div class="footer">
	<a class="left" href="#">&copy;2012&nbsp;An Adict Product</a>
	<a class="left" href="/home">Home</a>
	<a class='activate_modal left' name='modal_window2' href="#">About</a>
	<a class='activate_modal left' name='modal_window1' href="#">Contact</a>
</div>
<div id='mask' class='close_modal'></div>
<div id='modal_window1' class='modal_window'>
	<div id="login">
		<h1>Contact Us</h1>		
			<!-- form -->
			<%= form_for("#", :method => "post",:id=>"formContent") do |f|%>
				<fieldset id="inputs">
					<%= f.label :username %><br>
			      	<%= f.text_field :username,:placeholder=>"Your name please"%>
			      	
			      	<%= f.label :email %><br>
			      	<%= f.text_field :email,:placeholder=>"Your email id please"%>
			      	
			      	<%= f.label :comment %><br>
			      	<%= f.text_area :comment,:placeholder=>"Any comment?", :rows=>"5"%>
			</fieldset>
			<fieldset id="actions">
				<%= f.submit "Submit", :id =>"submit"%>
			</fieldset>
    	<% end %>
	</div>
</div>
<!--for a new modal window, just change the name in the link and put the same name as id in the content -->
<div id='modal_window2' class='modal_window'>
	<div id="login">
		<h1>About Us</h1>
		<h3>Don't memorize it</h3>
		<h3>We are murderer....of time</h3>
	</div>
</div>

<!--JS-->
<script type="text/javascript" src="/assets/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/image_wall_js.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox-thumbs.js"></script>


<%= yield :scripts %>
