<!-- Dynamic Background -->
<%= javascript_include_tag 'application' %>
<!--gems overwrite the new structure of the default.js location-->
<div class="content">
			<div class="header">
				<div style="float:left;">
				<!--a href="index.html"><h1 style="font-size: 100px;">City Zoomin</h1></a-->
				<h1><%=link_to("City Zoomin",root_path, :html=>{:style=>"font-size:100px"}) %></h1>
				<span style="padding-left: 40px;">Zoom Your World</span>
				</div>
				<div style="float:right">

				<ul class="ca-menu">
	                    
	                    <% if signed_in? %>
	                    <li>
	                    	<div class="ca-content">
	                    	<h2><%= link_to("Zoom", microposts_path, :class=>"ca-main", :style=>"text-align:center") %></h2>
	                    	<h3><%= link_to("By All", microposts_path, :class=>"ca-sub", :style=>"text-align:center;line-height:50px;") %></h3>
	                    	</div>
                    	</li>
	                    <li>
	                    	<div class="ca-content">
	                    	<h2><%= link_to("Zoom", microposts_path, :class=>"ca-main", :style=>"text-align:center") %></h2>
	                    	<h3><%= link_to("By You", microposts_path, :class=>"ca-sub", :style=>"text-align:center;line-height:50px;") %></h3>
	                    	</div>
                    	</li>
	                    <li>
	                    	<div class="ca-content">
	                    	<h2><%= link_to("Profile", current_user, :class=>"ca-main", :style=>"text-align:center") %></h2>
	                    	<h3><%= link_to("You Only", current_user, :class=>"ca-sub", :style=>"text-align:center;line-height:50px;") %></h3>
	                    	</div>
                    	</li>
                    	<li>
	                    	<div class="ca-content">
	                    	<h2><%= link_to("Edit", edit_user_path(current_user), :class=>"ca-main", :style=>"text-align:center") %></h2>
	                    	<h3><%= link_to("Change", edit_user_path(current_user), :class=>"ca-sub", :style=>"text-align:center;line-height:50px;") %></h3>
	                    	</div>
                    	</li>
                    	<li>
	                    	<div class="ca-content">
	                    	<h2><%= link_to("Signout", signout_path, :method => :delete, :class=>"ca-main", :style=>"text-align:center") %></h2>
	                    	<h3><%= link_to("Good Bye", signout_path, :method => :delete, :class=>"ca-sub", :style=>"text-align:center;line-height:50px;") %></h3>
	                    	</div>
                    	</li>
                    	
						
						<%else%>
						<li>
	                        <a href="/home">
	                            <div class="ca-content">
	                                <h2 class="ca-main">Home</h2>
	                                <h3 class="ca-sub">Safest Place</h3>
	                            </div>
	                        </a>
	                    </li>
	                    
	                    <li>
	                        <a href="/about">
	                            <div class="ca-content">
	                                <h2 class="ca-main">About</h2>
	                                <h3 class="ca-sub">Know us</h3>
	                            </div>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/contact">
	                            <div class="ca-content">
	                                <h2 class="ca-main">Contact</h2>
	                                <h3 class="ca-sub">Poke us</h3>
	                            </div>
	                        </a>
	                    </li>
	                    <% end %>
	                </ul>
               </div>
			</div>
			<div style="height:150px;display:block;"></div>

